body{
    margin: 0;
    font-family: 'Lato';
}
.container{
    margin-top: 30px;
    margin-bottom: 100px;
}

.carousel-indicator li{
    background-color:lightblue;
}
.carousel-indicator .active{
    background-color: orange;
}

.header-bg{
    background-image: url(../img/bg2.png);
    background-repeat: no-repeat;
    background-position: left bottom;
}
.container a{
    text-decoration: none;
}
.card{
    border: none;
    border-radius: 15px 10px;
    box-shadow: 5px 5px 10px rgb(212, 203, 160);

}
.card p{
    text-align: center;
    font-size: smaller;
    color:lightslategrey;
}
.card-footer{
    background-color: white;
    border-top: none;
    text-align: center;
}
.card-body img{
    padding-left: 40px;

}
#laptop h5{
    font-size:x-large;
    
}
.container h2{
    text-align: center;
    padding-bottom: 50px;
}
.card-position-box{
    max-width: 288px;
}
.midd{
    text-align: center;
}
footer{
    text-align: center;

}

